<!DOCTYPE html>

{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<form action="{{ url_for('reset_password', token=token) }}" method="post">
	<h3>User: {{ username }}</h3>
	<!-- <input type="hidden" name="token" value="{{ token }}"> -->
	<div class="mb-3">
		<input
			class="form-control mx-auto w-auto"
			id="new-password"
			name="new-password"
			placeholder="Type New Password"
			type="password"
		/>
		<input
			class="form-control mx-auto w-auto"
			id="repeat-password"
			name="confirmation"
			placeholder="Repeat Password"
			type="password"
		/>
	</div>
	<button class="btn btn-primary" type="submit">Change Password</button>
	
</form>
<div>{{ message }}</div>
{% endblock %}
